.SidedrawerWrapper {
  font-size: 16px;
  color: #5f6368;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  font-weight: 500;
  transition: 0.15s ease-out;
  transition-property: background-color, border, color, box-shadow;
}

.SidedrawerWrapper:has(+ .SidedrawerItem.active) {
  background-color: #ffffff;
  box-shadow: -3px 0px 1px 2px #bbbbbb33;
  z-index: 20;
}

.SidedrawerItem {
  display: flex;
  height: 64px;
  width: 100%;
  padding: 10px;
  color: #5f6368;
  font-weight: 500;
  align-items: center;
  transition: 0.15s ease-out;
  transition-property: background-color, border, color, box-shadow;
}

.SidedrawerItem:hover {
  color: #1e88e5;
  text-decoration: none;
  cursor: pointer;
}

.SidedrawerItem > .indicator {
  position: fixed;
  left: 0px;
  width: 3px;
  height: 64px;
  border: 0 solid transparent;
  transition: 0.15s ease-out;
  transition-property: border, box-shadow;
}

.SidedrawerItem:hover > .indicator {
  border: 2px solid #6ab7ff;
  box-shadow: 0 0 10px #6ab7ff;
}

/*
.SidedrawerItem {
  font-size: 16px;
  color: #5f6368;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  position: relative;
  font-weight: 500;
  transition: 0.15s ease-out;
  transition-property: background-color, border, color, box-shadow;
}

.SidedrawerWrapper {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  padding: 10px;
  transition: 0.15s ease-out;
  transition-property: background-color, border, color, box-shadow;
}

.SidedrawerWrapper > .label {
  transition: 0.15s;
  transition-property: transform;
}

.SidedrawerWrapper:hover,
.SidedrawerItem.active .SidedrawerWrapper {
  color: #1e88e5;
  text-decoration: none;
  cursor: pointer;
}

.SidedrawerWrapper:active > .label {
  transform: scale(0.9, 0.9);
}

.SidedrawerItem.active {
  background-color: #ffffff;
  box-shadow: -3px 0px 1px 2px #bbbbbb33;
  z-index: 20;
}

.SidedrawerWrapper > .indicator {
  position: fixed;
  left: 0px;
  width: 3px;
  height: 64px;
  border: 0 solid transparent;
  transition: 0.15s ease-out;
  transition-property: border, box-shadow;
}

.SidedrawerWrapper:hover > .indicator {
  border: 2px solid #6ab7ff;
  box-shadow: 0 0 10px #6ab7ff;
}

.SidedrawerMenu {
  display: none;
}

.SidedrawerItem.active .SidedrawerMenu {
  display: block;
}
*/
